* {
  font-size: 25px;
  font-family: Arial;
}

.app-container {
  background-color: white;
  height: 100vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.todo-container {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
}

.input-box {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
}

::placeholder {
  color: lightgrey;
}

.yellow-button {
  background-color: white;
  border: none;
  border-radius: 10px;
  color: black;
}

button:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

